.u-section-1 .u-sheet-1 {
  min-height: 901px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 14px 63px 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 781px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 556px;
  height: 556px;
  background-image: url("images/fdfddf.jpg");
  background-position: 50% 50%;
  margin: 57px auto 0 30px;
}

.u-section-1 .u-shape-1 {
  width: 202px;
  height: 202px;
  margin: -617px auto 0 30px;
}

.u-section-1 .u-image-2 {
  width: 260px;
  height: 260px;
  background-image: url("images/side-view-woman-working-digital-monitors_23-2148910243.jpg");
  background-position: 50% 50%;
  margin: 195px 114px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 108px;
  height: 108px;
  margin: -517px 189px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 781px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2;
  margin: 186px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 3px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 719px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 644px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 140px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -192px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 688px;
  }

  .u-section-1 .u-image-1 {
    width: 516px;
    height: 516px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -577px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 20px;
    padding-left: 117px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 24px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -48px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 3px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 325px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -401px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 80px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 564px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 14px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/06c88cf6e0268cde3ef92ca2b1af4f0d704e82a4dbaa107f728576ff5a078905523584827f641175ec3b33d926ec5bbe90da77a00b4433148a0b09_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 116px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 565px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 91px 40px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 255px;
  height: 255px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 554px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 7px;
}

.u-section-4 .u-image-1 {
  width: 386px;
  height: 220px;
  margin: 67px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 432px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 67px auto 0 70px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 42px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 356px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 346px;
    height: 197px;
    margin-top: 178px;
    margin-left: -4px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 851px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 194px;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 553px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 60px 20px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 91px 40px 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 421px;
  height: 278px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-5 .u-image-1 {
    width: 410px;
    height: 271px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 256px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-6 .u-text-1 {
  margin: 3px auto 0;
}

.u-section-6 .u-image-1 {
  width: 808px;
  height: 445px;
  margin: 27px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 670px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: -10px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: 86px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 397px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 366px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 298px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-top: 343px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 188px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}